
<DOCTYPE html>
<html lang="fr-CH">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<style>
.main-title { 
   font-weight: normal;
   color: Gray;
   font-family:Palatino, URW Palladio L, serif;
}
.title{
	font-weight: normal;
    color: Gray;
    transform: scale(1.5);
    font-family: Andale Mono, monospace;
}
</style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styling.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="source/Website icon.png">
  <title> "EquationiX"</title>
</head>
<body>


        <h1 class="main-title">Equationix</h1>
        <p1 class="title"> Choisis le degré: </p1> 
        <select id="equations" name="equation_choice">
          <option value="1">Equation du 1er degré</option>
          <option value="2">Equation du 2e degré</option>
          <option value="3">Equation du 3e degré</option>
        </select>
        <div id="EquationFilling">

          <input type="text" id="param3" value="0">
          <label id="x3" > X<sup>3</sup> + </label>

          <input type="text" id="param2" value="0">
          <label id="x2" > X<sup>2</sup> + </label>

          <input type="text" id="param1" value="0">
          <label id="x1" > X </label>

          <label id="cons_label" > + </label>
          <input type="text" id="cons" value="0">

          <button onclick="Calculate()" type="button">Calculate</button>

         </div>
        <br>
        <p3 class="title">Les zéros: </p3>
        <p2 id="sol">À calculer</p2>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

    

        

<script src="JavaScript.js"></script>






</div>
  
</body>
</html>
